{% extends "base.html" %}
{% block title %} Delete Entry {% endblock %}
{% block content %}
<h1>Delete an Entry</h1>

<form method="POST">
    <h3 align="center">Input Form</h3>
    <div class="form-group">
        <label for="CharacterName">Character Name</label>
        <input
        type="text"
        class="form-control"
        id="CharacterName"
        name="CharacterName"
        placeholder="Enter Character Name"
        />
    </div>
    <br>
    <button type="submit">Submit</button>
</form>





{% endblock %}