{% extends "base.html" %}
{% block title %} Groups Made {% endblock %}
{% block content %}
<h1 class="h1">
    Groups Created
</h1>
<ol>
    {% for i in groupsList %}
    
    <h6 class="display-6">
        Group:
    </h6>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Role</th>
                <th>Range</th>
                <th>Dungeon</th>
                <th>Key Level</th>
                <th>Skill (1-3)</th>
            </tr>
            </thead>
            <tbody>
            {% for j in i.group_members%}
            <tr>
                <td>{{ j.char_name }}</td>
                <td>{{ j.wow_class }}</td>
                <td>{{ j.role|join(', ') }}</td>
                <td>{{ j.range }}</td>
                <td>{{ j.dungeon }}</td>
                <td>{{ j.key_level }}</td>
                {% if loop.first %}
                <td>{{ j.tConf }}</td>
                {% endif %}
                {% if loop.index == 2 %}
                <td>{{ j.hConf }}</td>
                {% endif %}
                {% if loop.index > 2 %}
                    <td>{{ j.dpsConf }}</td>
                {% endif %}
            </tr>
            {%endfor%}
            </tbody>
        </table>
    {%endfor%}


    <h3>Players with no group:</h3>
    {% if nogroup | length == 0 %}
        <p>0</p>
    
    {% else %}
    {% for player in nogroup %}

    <ul>
        <li>{{ player }}
            <ul>
                {% for char in player.list_of_chars %}
                <li>
                    {{ char }}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</ol>
{% endif %}


{% endblock %}
