{% extends "base.html" %}
{% block title %} Player Entry {% endblock %}
{% block content %}
<body>

    <div>
        <h3>Instructions</h3>
        <p>
            Enter the information about you (your gamertag/main's name) and the character you wish to sign up for Mythic+'s. For each of your characters that you are willing to play, you must submit a new entry.<br><br>

            For example, if I have 2 characters that I am willing to use I will submit the form twice. Each form will have the same "Player Name" (because the player is me: Jmartz) but different "Character Name" (because I have 2 characters: Jmartz and Calioma).
        </p>


        
    </div>


    <div class="rounded border border-1 shadow bg-primary-subtle p-4">
    <form method="POST">
        <h1 class="title" align="center">Player Entry Form</h1>
    <br>
        <div id="names">
            <label for="player">Player Name</label>
            <input type="text" id="player" name="playerName" placeholder="Your Main's Name(Jmartz)" required size="30"
            pattern="[a-zA-Z]+"></br></br>
            <label for="charName">Character's Name</label>
            <input type="text" id="charName" name="characterName" placeholder="Character Name(Calioma)" required size="25"
            pattern="[a-zA-Z]+">
            <input hidden value="{{groupsession}}"  type="text" id="groupSession" name="groupSession" class="form-control form-control-lg">
        </div>
        </br>
        <label for="class">Select your class:</label>
<div id="class" class="container grid gap-0 row-gap-5" >
            <div>
                <input type="radio" id="warrior" name="class" value="Warrior" required>
                <label for="warrior" class="pe-4 g-col-6">Warrior</label>
                <input type="radio" id="paladin" name="class" value="Paladin"></input>
                <label for="paladin" class="pe-4 g-col-6">Paladin</label>
                <input type="radio" id="hunter" name="class" value="Hunter" ></input>
                <label for="hunter" class="pe-4 g-col-6">Hunter</label>

                <input type="radio" id="rogue" name="class" value="Rogue"></input>
                <label for="rogue" class="pe-4 g-col-6">Rogue</label>

                <input type="radio" id="priest" name="class" value="Priest"></input>
                <label for="priest" class="pe-4 g-col-6">Priest</label>

                <input type="radio" id="shaman" name="class" value="Shaman"></input>
                <label for="shaman" class="pe-4 g-col-6">Shaman</label>
            </div>
            <div class="pe-4 g-col-6">
                <input type="radio" id="mage" name="class" value="Mage"></input>
                <label for="mage" class="pe-4 g-col-6">Mage</label>

                <input type="radio" id="warlock" name="class" value="Warlock"></input>
                <label for="warlock" class="pe-4 g-col-6">Warlock</label>

                <input type="radio" id="monk" name="class" value="Monk"></input>
                <label for="monk" class="pe-4 g-col-6">Monk</label>

                <input type="radio" id="druid" name="class" value="Druid"></input>
                <label for="druid" class="pe-4 g-col-6">Druid</label>

                <input type="radio" id="demonHunter" name="class" value="Demon Hunter"></input>
                <label for="demonHunter" class="pe-4 g-col-6">Demon Hunter</label>

                <input type="radio" id="deathKnight" name="class" value="Death Knight"></input>
                <label for="deathKnight" class="pe-4 g-col-6">Death Knight</label>

                <input type="radio" id="evoker" name="class" value="Evoker"></input>
                <label for="evoker" class="pe-4 g-col-6">Evoker</label>
            </div>
        </div>
        </br>
        <label for="role">Select the roles you play with this character</label>    
    <div id="role" class="row g-12"  required>
            <div class="col">
                <input type="checkbox" id="tank" value="Tank" name="role" class="col ms-3 rolebutton">
                <label for ="tank" class="col-md-3">Tank</label>
                <input type="range" class="form-range row-md-2 me-1" min="1" max="3" default="0" id="tank-skill" name="tank-skill" disabled>
                <label for="tank-skill" class="form-label row-sm-3 mx-4">Skill</label>
                <div id="combat_role_tank">
                    <label for="combat_role_tank">Select Range:</label>
                    <input type="radio" id="tank-melee" name="combat_role_tank" value="Melee" disabled required>
                    <label for="tank-melee" class="pe-4 g-col-6">Melee</label>
                    <input type="radio" id="tank-ranged" name="combat_role_tank" value="Ranged" disabled></input>
                    <label for="tank-ranged" class="pe-4 g-col-6">Ranged</label>
                </div>
            </div>

            <div class="col">
                <input type="checkbox" id="healer" value="Healer" name="role" class="col ms-3 rolebutton">
                <label for ="healer" class="col-md-3">Healer</label>
                <input type="range" class="form-range row-md-2" min="1" max="3"  id="healer-skill" name="healer-skill" disabled>
                <label for="healer-skill" class="form-label row-sm-2  mx-4">Skill</label>
                <div id="combat_role_healer">
                    <label for="combat_role_healer">Select Range:</label>
                    <input type="radio" id="healer-melee" name="combat_role_healer" value="Melee" disabled required>
                    <label for="healer-melee" class="pe-4 g-col-6">Melee</label>
                    <input type="radio" id="healer-ranged" name="combat_role_healer" value="Ranged" disabled></input>
                    <label for="healer-ranged" class="pe-4 g-col-6">Ranged</label>
                </div>
            </div>
            <div class="col">
                <input type="checkbox" id="dps" value="DPS" name="role" class="col ms-3 rolebutton">
                <label for ="dps" class="col-md-3">DPS</label>
                <input type="range" class="form-range col-md-2" min="1" max="3"  id="dps-skill" name="dps-skill" disabled>
                <label for="dps-skill" class="form-label col-sm-2  mx-4">Skill</label>
                <div>
                    <label for="combat_role_dps">Select Range:</label>
                    <input type="radio" id="dps-melee" name="combat_role_dps" value="Melee" disabled required>
                    <label for="dps-melee" class="pe-4 g-col-6">Melee</label>
                    <input type="radio" id="dps-ranged" name="combat_role_dps" value="Ranged" disabled></input>
                    <label for="dps-ranged" class="pe-4 g-col-6">Ranged</label>
                </div>
            </div>
    </div>

    <div id="combat_role" class="container grid gap-0 row-gap-5" >

            <!-- <div>
                <label for="combat_role">Select Range:</label>
                <input type="radio" id="melee" name="combat_role" value="Melee" required>
                <label for="melee" class="pe-4 g-col-6">Melee</label>
                <input type="radio" id="ranged" name="combat_role" value="Ranged"></input>
                <label for="ranged" class="pe-4 g-col-6">Ranged</label>
            </div> -->
        </br>
        <div align="center">
            <button type="submit">Submit</button>
        </div>

        </form>
        <br>
        <br>
   
    </div>

    <div>


    </div>

    <script>

        function toggleRadioButtons(event) {
            // Get the checkbox
            var checkbox = event.target;
            var roleButton = checkbox.id;
            var newName = `combat_role_${roleButton}`;
            var skillname = `${roleButton}-skill`;

            // Get all radio buttons
            var radioButtons = document.querySelectorAll(`input[type="radio"][name="${newName}"]`);
            var skillslider = document.querySelectorAll(`input[type="range"][name="${skillname}"]`);
            console.log(radioButtons);
            console.log(skillslider);

            // Enable or disable radio buttons based on checkbox state
            radioButtons.forEach(function(radio) {
                radio.disabled = !checkbox.checked;
                radio.required = checkbox.checked;
            });
            // Enable or disable skill slider based on checkbox state
            skillslider.forEach(function(slider) {
                slider.disabled = !checkbox.checked;
            })
        }

        // Attach event listener to checkbox
        document.getElementById('tank').addEventListener('change', toggleRadioButtons);
        document.getElementById('healer').addEventListener('change', toggleRadioButtons);
        document.getElementById('dps').addEventListener('change', toggleRadioButtons);
    </script>
</body>
{% endblock %}
