{% extends "base.html" %}
{% block title %} Player Entry {% endblock %}
{% block content %}
<body>

    <div>
        <h3>Instructions</h3>
        <p>
            Enter the information about you (your gamertag/main's name) and the character you wish to sign up for Mythic+'s. For each of your characters that you are willing to play, you must submit a new entry.<br><br>

            For example, if I have 2 characters that I am willing to use I will submit the form twice. Each form will have the same "Player Name" (because the player is me: Jmartz) but different "Character Name" (because I have 2 characters: Jmartz and Calioma).
        </p>




    </div>

    <div class="rounded border border-1 shadow bg-primary-subtle p-4">
    <form method="POST">
        <h1 class="title" align="center">Player Entry Form</h1>
    <br>
        <div id="names">
            <label for="player">Player Name</label>
            <input type="text" id="player" name="playerName" placeholder="Your Main's Name(Jmartz)" required size="30"
            pattern="[a-zA-Z]+"></br></br>
            <label for="charName">Character's Name</label>
            <input type="text" id="charName" name="characterName" placeholder="Character Name(Calioma)" required size="25"
            pattern="[a-zA-Z]+">
        </div>
        </br>
        <label for="class">Select your class:</label>
<div id="class" class="container grid gap-0 row-gap-5" >
            <div>
                <input type="radio" id="warrior" name="class" value="Warrior" required>
                <label for="warrior" class="pe-4 g-col-6">Warrior</label>
                <input type="radio" id="paladin" name="class" value="Paladin"></input>
                <label for="paladin" class="pe-4 g-col-6">Paladin</label>
                <input type="radio" id="hunter" name="class" value="Hunter" ></input>
                <label for="hunter" class="pe-4 g-col-6">Hunter</label>

                <input type="radio" id="rogue" name="class" value="Rogue"></input>
                <label for="rogue" class="pe-4 g-col-6">Rogue</label>

                <input type="radio" id="priest" name="class" value="Priest"></input>
                <label for="priest" class="pe-4 g-col-6">Priest</label>

                <input type="radio" id="shaman" name="class" value="Shaman"></input>
                <label for="shaman" class="pe-4 g-col-6">Shaman</label>
            </div>
            <div class="pe-4 g-col-6">
                <input type="radio" id="mage" name="class" value="Mage"></input>
                <label for="mage" class="pe-4 g-col-6">Mage</label>

                <input type="radio" id="warlock" name="class" value="Warlock"></input>
                <label for="warlock" class="pe-4 g-col-6">Warlock</label>

                <input type="radio" id="monk" name="class" value="Monk"></input>
                <label for="monk" class="pe-4 g-col-6">Monk</label>

                <input type="radio" id="druid" name="class" value="Druid"></input>
                <label for="druid" class="pe-4 g-col-6">Druid</label>

                <input type="radio" id="demonHunter" name="class" value="Demon Hunter"></input>
                <label for="demonHunter" class="pe-4 g-col-6">Demon Hunter</label>

                <input type="radio" id="deathKnight" name="class" value="Death Knight"></input>
                <label for="deathKnight" class="pe-4 g-col-6">Death Knight</label>

                <input type="radio" id="evoker" name="class" value="Evoker"></input>
                <label for="evoker" class="pe-4 g-col-6">Evoker</label>
            </div>
        </div>
        </br>
        <label for="role">Select the roles you play with this character</label>    
    <div id="role" clas="row g-3"  required>
            <div class="col-md-10">
                <input type="checkbox" id="tank" value="Tank" name="role" class="col ms-2">
                <label for ="tank" class="col-md-2">Tank</label>

                <input type="checkbox" id="healer" value="Healer" name="role" class="col ms-4">
                <label for ="healer" class="col-md-3">Healer</label>

                <input type="checkbox" id="dps" value="DPS" name="role" class="col">
                <label for ="dps" class="col-md-3 me-3">DPS</label>
            </div>
        <div  class="row g-5">
            <div class="col-md-2">
                <input type="range" class="form-range col-md-2 me-1" min="1" max="3" default="0" id="tank-conf" name="tank-confidence">
                <label for="tank-conf" class="form-label col-sm-2 mx-4">Tank Confidence</label>
                </div>
                <div class="col-md-2">
                <input type="range" class="form-range col-md-2" min="1" max="3"  id="healer-conf" name="healer-confidence">
                <label for="tank-conf" class="form-label col-sm-2  mx-4">Healer Confidence</label>

                
            </div>
            <label class="col-sm-3" >No need to rate yourself, we know you're bad</label>
        </div>
    </div>
    <p><small>*For tanks and healers, use the slider to indicate how willing you are to play that role. Slide to the right if you preferr to play that role, slide to the left if you would only play that role if its needed.</small></p>
</div>
        </br>
        <div align="center">
            <button type="submit">Submit</button>
        </div>
        </form>
        <br>
        <br>
        <p> To see a list of players signed up, click <a href="/current_players" >Currently Signed Up</a> in the top navigation bar</p>
    </div>

    <div>

    </div>
</body>
{% endblock %}