name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
    - 'Backend-Flask/**'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Add this step
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: List default context Backend-Flask directory
        run: |
          echo "Listing Backend-Flask directory for debugging using default context:"
          ls -R ${{github.workspace}}/Backend-Flask
          
      - name: Extract Version Number
        id: extract_version
        run: |
          # Extract __version__ from Python file using sed (POSIX)
          VERSION=$(sed -n "s/^__version__ *= *['\"]\(.*\)['\"]/\1/p" Backend-Flask/website/__init__.py)
          if [ -z "$VERSION" ]; then
            VERSION="0.0.0"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Extracted version: $VERSION"
          
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./Backend-Flask
          tags: |
            jmartz007/wowmythicgroups:latest
            jmartz007/wowmythicgroups:${{ env.VERSION }}
